loglevel =

#reportemail = webmaster@interactiveliterature.org
reportemail = natbudin@gmail.com
reportsuccess = no
reportwarning = yes
reportspace = yes

#reporthost =
#reportuser = ninja

reportdirectory = /var/lib/backupninja/reports
admingroup = root

#######################################################
# for most installations, the defaults below are good #
#######################################################

logfile = /var/log/backupninja.log
configdirectory = /etc/backup.d
scriptdirectory = /usr/share/backupninja
libdirectory = /usr/lib/backupninja
usecolors = yes
when = everyday at 01:00
vservers = noroot